*{
	padding:0;
	margin:0;
}
body{
	height:100%;
}
body, td, a, p{
	font-family: arial,sans-serif;
	font-size:13px;
	text-decoration: none;
}

header{
	height: 70px;

}
header ul li{
	display:inline;
	float:right;
	padding:20px 10px;
}

header ul li img{
	width:25px;
	height:25px;
}

img#user{
	border-radius: 50%;
	width:35px;
	height: 35px;
}

img#menu{
	width:20px;
	height:20px;
}

footer{
	position: fixed; 
	bottom: 0px; 
	width: 100%; 
	height: 35px; 
	background-color:#f2f2f2;
	border-top: 1px solid #e4e4e4;
}

footer ul#footer_left{
	float:left;
    position: relative;
    margin: 10px;
}

footer ul#footer_right{
	float:right;
    position: relative;
    margin: 10px;
}

footer ul li{
	display:inline;
	padding:20px 10px;
	text-decoration: none;
	color:pink;
}


footer ul li:hover{
	display:inline;
	padding:20px 10px;
	color:pink;
}

input[type=text]{
	display:block;
	margin: 20px auto;
	text-align: center;
	line-height: 26px;
    height: 28px;
    width:540px;
    text-align: left;


}

img#logo{
	clear:both;
    display: block;
    margin: 0 auto;

}

#principal{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

a{
	color:#777;
}
a:hover{
	text-decoration: underline;
}

input[type=submit]{
	height: 36px;
    line-height: 27px;

    margin:0 2px;
    color:#757575;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    text-align: center;
        padding: 0 16px;
}

input[type=submit]:hover{
	height: 36px;
    line-height: 27px;
    margin:0 2px;
    padding: 0 16px;
    color:#000;
    background-color: #f2f2f2;
    border: 1px solid #c6c6c6;
    font-weight: bold;
    text-align: center;


}
